#tab-bar {
  display: flex;
}
#tab-bar li {
  flex: 1;
  border: 1px solid black;
}

#tab-bar .active {
  background-color: rgba(0, 0, 255, 0.5);
}
#tab-content li {
  display: none;
}
#tab-content .active {
  display: block;
}
